.DS_Store
.env
vpytest/
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
.coveragerc
htmlcov/
.coverage
.coverage.*
*,cover